@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
  :root {
    --heading-font: serif;
    --paragraph-font: open sans;

    --primary-color: #687351;
    --secondary-color: #9ba17f;
    --accent1-color: #e8e4db;
    
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 1000px;
    
}

.logo {
    margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
    padding: 2px;
    color: #9ba17f;
}

.navigation {
    display: flex;
	list-style: none;
    justify-content: space-evenly;
}


.navigation a {
	display: block;
	color: #687351;
	padding: 20px;
	text-decoration: none;
}


.navigation li {
	flex: 1 1 100%;
}

.navigation a:hover {
	color: blue;
	font-weight: 700;
	text-decoration: navajowhite;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}
h1 {
    position: relative;
    top: 100px;
    width: 100%;
    padding:  1em;
    color: #ededed;
    justify-content: center;
    text-align: center;
    
} 
.hero article {
    position: absolute;
    top: 200px;
    right: 20px;
    left: 20px;
    background-color: var(--secondary-color);
    padding: 10px;
    opacity: 0.8;
   
}

.hero img {
    display:block;
    width: 100%;
    height: auto;
}

article img {
    float: right;
    
}


.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-content: space-around;
    text-align: center;
    color: #687351;
    
    
    
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    color: #687351;
    
    
}

footer img {
    height: 30px;
    margin-left: 10px;  
   

  }

  .sociallinks {
    display: grid;
    justify-self: end;
    grid-template-columns: 2fr 2fr 2fr;
  }

   
  .style {
    font-family: sans-serif;
    background-color: #687351;
    }

    table {
      border-collapse: collapse;
      border: 2px solid rgb(140 140 140);
      letter-spacing: 1px;
      font-size: 0.8rem;
      display: grid;
      justify-content: center;

    }

    td, th {
        border: 1px solid rgb(160 160 160);
        padding: 10px 20px;
    }

    td {
      text-align: center;
    }

    caption {
      padding: 10px;
    }
     

   

  